Free_Deep_Research_Workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "goal-intake",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook (React)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "model": "google/gemini-flash-1.5",
                "prompt": "={{ 'Analyze this transcript:\\n\\n' + $json.body.interview_transcript + '\\n\\nOutput specific JSON persona.' }}",
                "options": {
                    "responseFormat": "json_object"
                }
            },
            "id": "persona-extractor",
            "name": "Persona Extractor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                0
            ],
            "notes": "Extracts Age, Context, 'Why' from transcript"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $('Webhook (React)').item.json.body.tier }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "student_99"
                        },
                        {
                            "value2": "pro_sub",
                            "output": 1
                        }
                    ]
                }
            },
            "id": "tier-switch",
            "name": "Tier Switch",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT * FROM golden_plans ORDER BY embedding <-> $1 LIMIT 1;",
                "options": {}
            },
            "id": "supabase-cache",
            "name": "Check Golden Cache",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                700,
                -100
            ]
        },
        {
            "parameters": {
                "model": "google/gemini-flash-1.5",
                "prompt": "={{ 'We have a cached plan. \\nUser Profile: ' + JSON.stringify($('Persona Extractor').item.json) + '\\n\\nIs the cached plan relevant for this SPECIFIC profile? JSON: { \"valid\": true/false }' }}"
            },
            "id": "ai-monitor",
            "name": "AI Cache Monitor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                -100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.valid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "cache-valid-switch",
            "name": "Cache Good?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1100,
                -100
            ]
        },
        {
            "parameters": {
                "prompt": "={{ 'User Profile: ' + JSON.stringify($('Persona Extractor').item.json) + '\\n\\nExisting Plan: ' + $json.plan_content + '\\n\\nRewrite the plan introduction and task descriptions to match the user\\'s persona and motivation. Keep the technical steps same.' }}"
            },
            "id": "personalizer",
            "name": "Personalizer (Flash)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1320,
                -180
            ]
        },
        {
            "parameters": {
                "url": "https://api.tavily.com/search",
                "method": "POST",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $('Webhook (React)').item.json.body.goal_summary + ' ' + $('Persona Extractor').item.json.demographics }}"
                        },
                        {
                            "name": "search_depth",
                            "value": "advanced"
                        }
                    ]
                }
            },
            "id": "deep-research",
            "name": "Deep Research (Tavily)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "prompt": "={{ 'User Profile: ' + JSON.stringify($('Persona Extractor').item.json) + '\\n\\nResearch: ' + $json.results + '\\n\\nBuild a detailed Strategy JSON.' }}"
            },
            "id": "strategist",
            "name": "Strategist (GPT-4o)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $('Webhook (React)').item.json.body.tier }}",
                            "value2": "pro_sub"
                        }
                    ]
                }
            },
            "id": "check-pro",
            "name": "Is Pro?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1300,
                200
            ]
        },
        {
            "parameters": {
                "prompt": "You are 3 Referees. Vote on this plan."
            },
            "id": "referee-loop",
            "name": "Referee Loop",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1520,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO plans (user_id, plan_json, persona_snapshot) VALUES ($1, $2, $3);",
                "options": {}
            },
            "id": "save-db",
            "name": "Save to DB",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 1,
            "position": [
                1800,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-frontend",
            "name": "Respond to React",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2000,
                0
            ]
        }
    ],
    "connections": {
        "Webhook (React)": {
            "main": [
                [
                    {
                        "node": "Persona Extractor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Persona Extractor": {
            "main": [
                [
                    {
                        "node": "Tier Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tier Switch": {
            "main": [
                [
                    {
                        "node": "Check Golden Cache",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Deep Research (Tavily)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Golden Cache": {
            "main": [
                [
                    {
                        "node": "AI Cache Monitor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Cache Monitor": {
            "main": [
                [
                    {
                        "node": "Cache Good?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cache Good?": {
            "main": [
                [
                    {
                        "node": "Personalizer (Flash)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Deep Research (Tavily)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Personalizer (Flash)": {
            "main": [
                [
                    {
                        "node": "Save to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Deep Research (Tavily)": {
            "main": [
                [
                    {
                        "node": "Strategist (GPT-4o)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Strategist (GPT-4o)": {
            "main": [
                [
                    {
                        "node": "Check Pro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Pro": {
            "main": [
                [
                    {
                        "node": "Referee Loop",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Save to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Referee Loop": {
            "main": [
                [
                    {
                        "node": "Save to DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to DB": {
            "main": [
                [
                    {
                        "node": "Respond to React",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}